/*------------------------ OPEN SANS ------------------------ */

/* REGULAR */
@font-face {
  font-family: OpenSansRegular;
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}

/* SEMI-BOLD */
@font-face {
  font-family: OpenSansSemibold;
  src: url("../fonts/Open_Sans/OpenSans-SemiBold.ttf");
}

/* BOLD */
@font-face {
  font-family: OpenSansBold;
  src: url("../fonts/Open_Sans/OpenSans-Bold.ttf");
}
/*------------------------ --------- ------------------------ */

/*------------------------ ROBOTO ------------------------ */
@font-face {
  font-family: RobotoRegular;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
/*------------------------ ------ ------------------------ */
