@import url("fonts.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  /* FONTS */
  --OpenSansRegular: "OpenSansRegular", cursive;
  --RobotoRegular: "RobotoRegular", cursive;
  /* ----- */

  /* COLORS */
  --DarkBlue: #05053b;
  --NavyBlue: #040562;
  --Blue: #0247a1;
  --LightBlue: #0077b8;
  --LightYellow: #fece48;
  --Orange: #ffb41f;
  --White: #ffffff;
  --Black: #000000;
  /* ------ */
}

/* <!----------------------------------- GLOBAL CLASSES -----------------------------------> */
/* TO BE DETERMINED */
h1 {
  font-family: var(--OpenSansRegular);
  font-size: 40px;
}
/* ---------------- */
/* <!--------------------------------------------------------------------------------------> */

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

/* <!----------------------------------- NAVIGATION -----------------------------------> */
.navbar {
  position: fixed;
  width: 100%;
  padding: 15px 0;
  /* background: var(--NavyBlue); */
  font-family: var(--OpenSansRegular), sans-serif;
  transition: all 0.3s ease;
}

.navbar.sticky {
  padding: 0px 0;
  background: var(--DarkBlue);
}

.navbar .max-width {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.navbar .logo a {
  color: var(--White);
  padding-right: 25px;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  color: var(--White);
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  color: var(--Orange);
}

.navbar.sticky .menu li a:hover {
  color: var(--Orange);
}
/* <!----------------------------------------------------------------------------------> */

/* <!----------------------------------- MAIN CONTENT -----------------------------------> */
/* Site Title */
.home {
  display: flex;
  background: black;
  background-size: cover;
  height: 100vh;
  color: #ffffff;
  min-height: 500px;
  font-family: var(--OpenSansRegular), sans-serif;
}

.home .max-width {
  margin: auto 0 auto 40px;
}
/* ---------- */
/* <!------------------------------------------------------------------------------------> */

/* <!----------------------------------- VIEWPORT-750px -----------------------------------> */
/* @media only screen and (max-width: 750px) {
  .nav .nav-menu,
  .nav .nav-items {
    flex-direction: column;
  }

  .nav .toggle-collapse {
    display: initial;
  }
} */
/* <!--------------------------------------------------------------------------------------> */
